#c{

  cursor: url('../img/juego/arrow-back.png');

  &.hover{
    cursor: grab;
  }

  &.grabbing{
    cursor: grabbing;
  }

  &.pointer{
    cursor: pointer;
  }

  &.illegal{
    cursor: no-drop;
  }
}