body > header {
  
  position: sticky;
  background-color: var(--clr-secondary-light-3);
  z-index: 9;
  transition: box-shadow .3s ease-out;

  &.active{
    top: var(--_top);
  }

  &.clr{
    box-shadow : 0 10px 12px #0002;
  }
  

  & > .wrapper{
  display: flex;
  align-items: center;
  padding-block: 25px;


  > :is(:first-child,:last-child){
    flex-grow: 1;
    flex-basis: 0;
  }

  > :last-child{
    justify-content: end;
  }

  .aside{
    display: flex;
    align-items: center;
    gap: 30px;

    .logo{
      color: var(--clr-primary-dark-3);
      transition: color .2s ease-out;

      &:hover{
        color: var(--clr-primary);
      }
    }


    
  }

}
}