details.menu{
  z-index: 1;
  position: relative;
  width: 30px;

  &[open] summary svg{
    &:first-of-type{
      display: none;
    }

    &:last-of-type{
      display: block;
    }
  }



  > summary{
    list-style: none;
    cursor: pointer;

    &:hover{

      filter: brightness(.8);
      color: var(--clr-primary);

    }

    > svg:last-of-type{
      display: none;
    }
  }

  > ul{
    position: absolute;
    top: 150%;
    overflow: hidden;

    border-radius: 10px;

    &.left{
      left: 0;
      border-top-left-radius: 0;
    }
    
    &.right{
      right: 0;
      border-top-right-radius: 0;
    }

    background-color: var(--clr-primary-dark-3);
    width: 200px;



    > li > *{
      cursor: default;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px 12px;
      background-color: var(--clr-primary-dark-3);
      color: var(--clr-white);
      transition: gap .3s ease-out, background-color .3s ease-out;
      text-decoration: none;


      &:hover{
        gap: 20px;
        background-color: var(--clr-primary-dark-1);
      }
    }
  }

  
}