@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {


  --clr-primary-light-3: #FD8255;
  --clr-primary-light-2: #EE6446;
  --clr-primary-light-1: #DF4637;
  --clr-primary: #D02828;
  --clr-primary-dark-1: #B20A19;
  --clr-primary-dark-2: #94000A;
  --clr-primary-dark-3: #760000;

  --clr-secondary-light-3: #FFFFA8;
  --clr-secondary-light-2: #FFFF99;
  --clr-secondary-light-1: #F1E98A;
  --clr-secondary: #E2CB7B;
  --clr-secondary-dark-1: #C4AD6C;
  --clr-secondary-dark-2: #A68F5D;
  --clr-secondary-dark-3: #88714E;

  --clr-accent-light-3: #2DD3D5;
  --clr-accent-light-2: #1EB5C6;
  --clr-accent-light-1: #0F97B7;
  --clr-accent: #0079A8;
  --clr-accent-dark-1: #005B99;
  --clr-accent-dark-2: #003D8A;
  --clr-accent-dark-3: #001F7B;

  --clr-black: #012622;
  --clr-white: #FBFCF8;

  --clr-price: #00A552;
  --clr-free: #D9D9D9;

  --clr-trend: #FF8204;
  --clr-trend-dark: #E16400;

  --clr-discount: #FFFF04;
  --clr-discount-dark: #E1E100;

  --fs-min: 11.2px;
  --fs-body: 14px;
  --fs-h5: 17.5px;
  --fs-h4: 21.88px;
  --fs-h3: 27.35px;
  --fs-h2: 34.19px;
  --fs-h3: 42.74px;

  --ff: 'Montserrat', system-ui;

  --fw-bold: 600;

}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}


img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input {
  border-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--clr-secondary-light-3);

  font-family: var(--ff);

  font-size: var(--fs-body);
  color: var(--clr-black);

  display: grid;
  grid-template-columns: 1rem [content-start] auto [content-end] 1rem;

  > * {
    grid-column: content;
  }

}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}


body > header{
  display: flex;
  align-items: center;

  > :is(:first-child,:last-child){
    flex-grow: 1;
    flex-basis: 0;
  }

  > :last-child{
    justify-content: end;
  }

  .aside{
    display: flex;
    align-items: center;
    gap: 30px;

    .logo{
      color: var(--clr-primary-dark-3);

      &:hover{
        color: var(--clr-primary);
      }
    }
  }

}



.btn {
  border-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  gap: 10px;

  background-color: var(--_background, var(--clr-white));
  color: var(--_text, var(--clr-black));
  box-shadow: inset 0 -4px 0 0px var(--_stroke, var(--clr-black));

  &:hover,
  &:focus-visible {
    outline: none;
    background-color: var(--_background-hover, var(--clr-free));
    box-shadow: inset 0 -2px 0 0px var(--_stroke, var(--clr-black));
  }

  &:focus-visible {
    outline: 2px solid var(--_stroke, var(--clr-black));
  }

  &:disabled {
    pointer-events: none;
    filter: grayscale(1);
  }

  &:active {
    background-color: var(--_background-active, black);
    box-shadow: none;
  }
}

.btn.primary {
  --_background: var(--clr-primary);
  --_background-hover: var(--clr-primary-light-1);
  --_background-active: var(--clr-primary-dark-1);
  --_text: var(--clr-white);
  --_stroke: var(--clr-primary-dark-3);
  font-weight: var(--fw-bold);
}

.btn.secondary {
  --_background: var(--clr-primary-light-3);
  --_background-hover: var(--clr-primary-light-3);
  --_background-active: var(--clr-primary-light-2);
  --_text: var(--clr-primary-dark-3);
  --_stroke: var(--clr-primary-dark-3);
}

.btn.tertiary {
  --_background: var(--clr-secondary-light-2);
  --_background-hover: var(--clr-secondary-light-3);
  --_background-active: var(--clr-secondary-light-1);
  --_text: var(--clr-black);
  --_stroke: var(--clr-secondary);
}

label[role="group"] {
  display: grid;
  gap: 4px;
  color: var(--clr-secondary-dark-3);
  max-width: 240px;

  &:has(> [required]) p::after {
    content: '*';
    color: var(--clr-primary);
    margin-inline: 4px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-free);
    font-size: var(--fs-min);
    color: var(--clr-black);

    &::placeholder {
      color: var(--clr-secondary-dark-1);
      font-size: var(--fs-min);
    }

    &:focus-visible {
      outline: none;
      background-color: var(--clr-free);
    }
  }
}

[role="searchbox"],
[role="form"] {
  width: 450px;
  display: grid;
  grid-template-areas: "stack";
  align-items: center;

  >* {
    grid-area: stack;
  }



  input[type="text"] {
    background-color: var(--clr-secondary-light-1);
    width: 100%;
    padding: 12px;
    padding-right: calc(12px + 22px);
    caret-color: var(--clr-primary);
    color: var(--clr-black);
    border-radius: 15px;

    &:focus-visible {
      outline: none;
      background-color: var(--clr-secondary);
    }

    &::placeholder {
      color: var(--clr-secondary-dark-3);
    }
  }

  button {
    border: none;
    background-color: transparent;
    justify-self: end;
    width: fit-content;
    margin-right: 10px;

    &:hover,
    &:focus {
      background-color: var(--clr-primary-light);
      outline: none;

      & svg {
        color: var(--clr-primary);
        animation: shake .35s ease-in;
        animation-iteration-count: 2;
        animation-delay: .1s;
      }
    }
  }

  svg {
    color: var(--clr-primary-dark-3);
    transform-origin: bottom right;
  }


}

@keyframes shake {

  0%,
  75%,
  100% {
    rotate: 0deg;
  }

  25% {
    rotate: 10deg;
  }
}